<h2>List of Feeds</h2>
<ul>
    #foreach($user in $users)
        <li><a href="user/${user.userId}">${user.email}</a> --> ${user.userName}</li>
    #end
    <li><a href="user/save">创建</a></li>
</ul>