<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.study.application.mapper.UserMapper">
	<resultMap id="userEntityMapper" type="userEntity">
		<id property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="sex" column="sex"/>
		<result property="email" column="email"/>
	</resultMap>
	
	<select id="getUserEntityById" parameterType="Integer" resultMap="userEntityMapper">
		select * from user where user_id=#{param1}
	</select>
	
	<select id="getUserEntities" resultMap="userEntityMapper">
		select * from user
	</select>
	
	<insert id="insertUser" parameterType="userEntity">
		insert into
		user(user_id,user_name,password,sex,email)
		values(#{userId},#{userName},#{password},#{sex},#{email})
	</insert>
</mapper>